<a href="https://colab.research.google.com/github/gadilshina-ve/BDP_MGPU/blob/main/Pr_2/pr_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Скачивание наборов данных Kaggle

**ФИО: Гадильшина Валентина Евгеньевна**

**Группа: БД-231м**

**mgpu_z_10 - №5. HEALTHY LIVING.**

Дополнительная информация по работе с [Kaggle API](https://github.com/Kaggle/kaggle-api)

1. **Создайте ключ `API` в `Kaggle`**.

Моя учетная запись -> Settings-> API -> Создать новые токены API.

На ваш компьютер будет загружен файл `kaggle.json`. Вы можете загрузить на `Google` Диск вручную или использовать для загрузки приведенный ниже скрипт.

Если вы хотите использовать скрипт для загрузки файла `kaggle.json`, используйте следующий фрагмент в ячейке кода:

In [114]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (2).json

{'kaggle (2).json': b'{"username":"valentinagadilshina","key":"57b4580f5fdaaf4d4a78fb26d3588671"}'}

Установите `Kaggle API`, используя

In [115]:
!pip install -q kaggle

Переместите файл `kaggle.json` в **~/.kaggle**, где клиент `API` ожидает расположения вашего токена:

In [116]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

Предоставьте разрешения на изменение, чтобы избежать предупреждения при запуске инструмента `Kaggle`.

In [117]:
!chmod 600 ~/.kaggle/kaggle.json

Теперь вы можете получить доступ к наборам данных с помощью клиента

In [118]:
!kaggle datasets list

401 - Unauthorized - Unauthenticated

In [ ]:
import kaggle

# List of all datasets available on Kaggle
kaggle.api.dataset_list()

In [ ]:
# поиск наборов данных на Kaggle о ""ключевое слово"""
datasets = kaggle.api.datasets_list(search="HEALTHY LIVING")

print(datasets)

In [ ]:
!kaggle datasets list -s "healthy living metrics"

In [ ]:
!pip install pandas
import pandas as pd

In [ ]:
datasets = kaggle.api.datasets_list(search="Healthy Lifestyle")
df1=pd.DataFrame(datasets)
pd.DataFrame(datasets)

In [ ]:
df1.to_excel("healthy.xlsx", sheet_name='Healthy_Lifestyle')

In [ ]:
from google.colab import files
files.download('healthy.xlsx')

# Изучим датасет **Healthy Lifestyle Cities Report 2021**

Download Dataset.

In [ ]:
!kaggle datasets download -d prasertk/healthy-lifestyle-cities-report-2021

Downloading healthy-lifestyle-cities-report-2021.zip to /content
  0% 0.00/1.88k [00:00<?, ?B/s]
100% 1.88k/1.88k [00:00<00:00, 4.43MB/s]

In [ ]:
import zipfile

with zipfile.ZipFile("healthy-lifestyle-cities-report-2021.zip","r") as zip_ref:

    # extracting content in the zipfile
    zip_ref.extractall()

In [ ]:
!ls

healthy-lifestyle-cities-report-2021.zip  healthy.xlsx	sample_data
healthy_lifestyle_city_2021.csv		  kaggle.json

In [ ]:
# reading the contents of the "NetFlix.csv"
df = pd.read_csv("healthy_lifestyle_city_2021.csv")

# printing first 6 raws of the dataframe
df.head(10)

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Amsterdam,1,1858,£1.92,20.40%,81.2,30.93,1434,7.44,422,1048,£34.90
1,Sydney,2,2636,£1.48,29.00%,82.1,26.86,1712,7.22,406,1103,£41.66
2,Vienna,3,1884,£1.94,20.10%,81.0,17.33,1501,7.29,132,1008,£25.74
3,Stockholm,4,1821,£1.72,20.60%,81.8,19.63,1452,7.35,129,598,£37.31
4,Copenhagen,5,1630,£2.19,19.70%,79.8,21.24,1380,7.64,154,523,£32.53
5,Helsinki,6,1662,£1.60,22.20%,80.4,13.08,1540,7.80,113,309,£35.23
6,Fukuoka,7,2769,£0.78,4.30%,83.2,-,1644,5.87,35,539,£55.87
7,Berlin,8,1626,£1.55,22.30%,80.6,39.41,1386,7.07,254,1729,£26.11
8,Barcelona,9,2591,£1.19,23.80%,82.2,65.19,1686,6.40,585,2344,£37.80
9,Vancouver,10,1938,£1.08,29.40%,81.7,24.26,1670,7.23,218,788,£31.04

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City                                    44 non-null     object
 1   Rank                                    44 non-null     int64
 2   Sunshine hours(City)                    44 non-null     object
 3   Cost of a bottle of water(City)         44 non-null     object
 4   Obesity levels(Country)                 44 non-null     object
 5   Life expectancy(years) (Country)        44 non-null     float64
 6   Pollution(Index score) (City)           44 non-null     object
 7   Annual avg. hours worked                44 non-null     object
 8   Happiness levels(Country)               44 non-null     float64
 9   Outdoor activities(City)                44 non-null     int64
 10  Number of take out places(City)         44 non-null     int64
 11  Cost of a monthly gym membership(City)  44 non-null     object
dtypes: float64(2), int64(3), object(7)
memory usage: 4.2+ KB

In [ ]:
my_df = df[['City', 'Rank', 'Sunshine hours(City)', 'Cost of a bottle of water(City)', 'Obesity levels(Country)', 'Life expectancy(years) (Country)', 'Pollution(Index score) (City)', 'Annual avg. hours worked', 'Happiness levels(Country)', 'Outdoor activities(City)', 'Number of take out places(City)', 'Cost of a monthly gym membership(City)']].copy()

In [ ]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City                                    44 non-null     object
 1   Rank                                    44 non-null     int64
 2   Sunshine hours(City)                    44 non-null     object
 3   Cost of a bottle of water(City)         44 non-null     object
 4   Obesity levels(Country)                 44 non-null     object
 5   Life expectancy(years) (Country)        44 non-null     float64
 6   Pollution(Index score) (City)           44 non-null     object
 7   Annual avg. hours worked                44 non-null     object
 8   Happiness levels(Country)               44 non-null     float64
 9   Outdoor activities(City)                44 non-null     int64
 10  Number of take out places(City)         44 non-null     int64
 11  Cost of a monthly gym membership(City)  44 non-null     object
dtypes: float64(2), int64(3), object(7)
memory usage: 4.2+ KB

In [ ]:
my_df.head(10)

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Amsterdam,1,1858,£1.92,20.40%,81.2,30.93,1434,7.44,422,1048,£34.90
1,Sydney,2,2636,£1.48,29.00%,82.1,26.86,1712,7.22,406,1103,£41.66
2,Vienna,3,1884,£1.94,20.10%,81.0,17.33,1501,7.29,132,1008,£25.74
3,Stockholm,4,1821,£1.72,20.60%,81.8,19.63,1452,7.35,129,598,£37.31
4,Copenhagen,5,1630,£2.19,19.70%,79.8,21.24,1380,7.64,154,523,£32.53
5,Helsinki,6,1662,£1.60,22.20%,80.4,13.08,1540,7.80,113,309,£35.23
6,Fukuoka,7,2769,£0.78,4.30%,83.2,-,1644,5.87,35,539,£55.87
7,Berlin,8,1626,£1.55,22.30%,80.6,39.41,1386,7.07,254,1729,£26.11
8,Barcelona,9,2591,£1.19,23.80%,82.2,65.19,1686,6.40,585,2344,£37.80
9,Vancouver,10,1938,£1.08,29.40%,81.7,24.26,1670,7.23,218,788,£31.04

In [ ]:
my_df.isnull().values.any()

False

In [ ]:
my_df.isnull().sum()

City                                      0
Rank                                      0
Sunshine hours(City)                      0
Cost of a bottle of water(City)           0
Obesity levels(Country)                   0
Life expectancy(years) (Country)          0
Pollution(Index score) (City)             0
Annual avg. hours worked                  0
Happiness levels(Country)                 0
Outdoor activities(City)                  0
Number of take out places(City)           0
Cost of a monthly gym membership(City)    0
dtype: int64

In [ ]:
df.isnull().sum().sum()

0

In [ ]:
my_df.isna().sum()/(len(df))*100

City                                      0.0
Rank                                      0.0
Sunshine hours(City)                      0.0
Cost of a bottle of water(City)           0.0
Obesity levels(Country)                   0.0
Life expectancy(years) (Country)          0.0
Pollution(Index score) (City)             0.0
Annual avg. hours worked                  0.0
Happiness levels(Country)                 0.0
Outdoor activities(City)                  0.0
Number of take out places(City)           0.0
Cost of a monthly gym membership(City)    0.0
dtype: float64

In [ ]:
my_df.isnull().sum()/(len(df))*100

City                                      0.0
Rank                                      0.0
Sunshine hours(City)                      0.0
Cost of a bottle of water(City)           0.0
Obesity levels(Country)                   0.0
Life expectancy(years) (Country)          0.0
Pollution(Index score) (City)             0.0
Annual avg. hours worked                  0.0
Happiness levels(Country)                 0.0
Outdoor activities(City)                  0.0
Number of take out places(City)           0.0
Cost of a monthly gym membership(City)    0.0
dtype: float64

In [ ]:
df2 = my_df.dropna()

In [ ]:
df2.head(10)

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Amsterdam,1,1858,£1.92,20.40%,81.2,30.93,1434,7.44,422,1048,£34.90
1,Sydney,2,2636,£1.48,29.00%,82.1,26.86,1712,7.22,406,1103,£41.66
2,Vienna,3,1884,£1.94,20.10%,81.0,17.33,1501,7.29,132,1008,£25.74
3,Stockholm,4,1821,£1.72,20.60%,81.8,19.63,1452,7.35,129,598,£37.31
4,Copenhagen,5,1630,£2.19,19.70%,79.8,21.24,1380,7.64,154,523,£32.53
5,Helsinki,6,1662,£1.60,22.20%,80.4,13.08,1540,7.80,113,309,£35.23
6,Fukuoka,7,2769,£0.78,4.30%,83.2,-,1644,5.87,35,539,£55.87
7,Berlin,8,1626,£1.55,22.30%,80.6,39.41,1386,7.07,254,1729,£26.11
8,Barcelona,9,2591,£1.19,23.80%,82.2,65.19,1686,6.40,585,2344,£37.80
9,Vancouver,10,1938,£1.08,29.40%,81.7,24.26,1670,7.23,218,788,£31.04

In [ ]:
df2.isnull().values.any()

False

Москва на каком месте?

In [ ]:
rslt_df = df2[df2['City'] == "Moscow"]

In [ ]:
rslt_df

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
42,Moscow,43,1901,£0.41,23.10%,69.5,57.63,1965,5.54,322,3206,£31.40

In [ ]:
rslt_df.reset_index(drop=True, inplace=True)

In [ ]:
rslt_df

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Moscow,43,1901,£0.41,23.10%,69.5,57.63,1965,5.54,322,3206,£31.40

In [ ]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City                                    1 non-null      object
 1   Rank                                    1 non-null      int64
 2   Sunshine hours(City)                    1 non-null      object
 3   Cost of a bottle of water(City)         1 non-null      object
 4   Obesity levels(Country)                 1 non-null      object
 5   Life expectancy(years) (Country)        1 non-null      float64
 6   Pollution(Index score) (City)           1 non-null      object
 7   Annual avg. hours worked                1 non-null      object
 8   Happiness levels(Country)               1 non-null      float64
 9   Outdoor activities(City)                1 non-null      int64
 10  Number of take out places(City)         1 non-null      int64
 11  Cost of a monthly gym membership(City)  1 non-null      object
dtypes: float64(2), int64(3), object(7)
memory usage: 224.0+ bytes

In [ ]:
rslt_df['City']=rslt_df['City'].str[:3]

<ipython-input-95-2b7777f1f7c5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rslt_df['City']=rslt_df['City'].str[:3]

In [ ]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City                                    1 non-null      object
 1   Rank                                    1 non-null      int64
 2   Sunshine hours(City)                    1 non-null      object
 3   Cost of a bottle of water(City)         1 non-null      object
 4   Obesity levels(Country)                 1 non-null      object
 5   Life expectancy(years) (Country)        1 non-null      float64
 6   Pollution(Index score) (City)           1 non-null      object
 7   Annual avg. hours worked                1 non-null      object
 8   Happiness levels(Country)               1 non-null      float64
 9   Outdoor activities(City)                1 non-null      int64
 10  Number of take out places(City)         1 non-null      int64
 11  Cost of a monthly gym membership(City)  1 non-null      object
dtypes: float64(2), int64(3), object(7)
memory usage: 224.0+ bytes

In [ ]:
rslt_df

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Mos,43,1901,£0.41,23.10%,69.5,57.63,1965,5.54,322,3206,£31.40

In [ ]:
rslt_df['Outdoor activities(City)'] = rslt_df['Outdoor activities(City)'].astype('float64')

<ipython-input-99-4c1bb904d306>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rslt_df['Outdoor activities(City)'] = rslt_df['Outdoor activities(City)'].astype('float64')

In [ ]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City                                    1 non-null      object
 1   Rank                                    1 non-null      int64
 2   Sunshine hours(City)                    1 non-null      object
 3   Cost of a bottle of water(City)         1 non-null      object
 4   Obesity levels(Country)                 1 non-null      object
 5   Life expectancy(years) (Country)        1 non-null      float64
 6   Pollution(Index score) (City)           1 non-null      object
 7   Annual avg. hours worked                1 non-null      object
 8   Happiness levels(Country)               1 non-null      float64
 9   Outdoor activities(City)                1 non-null      float64
 10  Number of take out places(City)         1 non-null      int64
 11  Cost of a monthly gym membership(City)  1 non-null      object
dtypes: float64(3), int64(2), object(7)
memory usage: 224.0+ bytes

In [ ]:
dd=rslt_df

In [ ]:
dd['Cost of a bottle of water(City)'] = [x.replace('£', '$') for x in dd['Cost of a bottle of water(City)']]

<ipython-input-102-00704f9bc515>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['Cost of a bottle of water(City)'] = [x.replace('£', '$') for x in dd['Cost of a bottle of water(City)']]

In [ ]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City                                    1 non-null      object
 1   Rank                                    1 non-null      int64
 2   Sunshine hours(City)                    1 non-null      object
 3   Cost of a bottle of water(City)         1 non-null      object
 4   Obesity levels(Country)                 1 non-null      object
 5   Life expectancy(years) (Country)        1 non-null      float64
 6   Pollution(Index score) (City)           1 non-null      object
 7   Annual avg. hours worked                1 non-null      object
 8   Happiness levels(Country)               1 non-null      float64
 9   Outdoor activities(City)                1 non-null      float64
 10  Number of take out places(City)         1 non-null      int64
 11  Cost of a monthly gym membership(City)  1 non-null      object
dtypes: float64(3), int64(2), object(7)
memory usage: 224.0+ bytes

In [ ]:
dd

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Mos,43,1901,$0.41,23.10%,69.5,57.63,1965,5.54,322.0,3206,£31.40

In [ ]:
dd['Number of take out places(City)'] = dd['Number of take out places(City)'].astype('float64')

<ipython-input-105-68d1115d613c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['Number of take out places(City)'] = dd['Number of take out places(City)'].astype('float64')

In [ ]:
dd.to_excel("healthy_lifestyle_city_2021_Moscow.xlsx", sheet_name='healthy_lifestyle_city_2021_Moscow')
from google.colab import files
files.download('healthy_lifestyle_city_2021_Moscow.xlsx')

/usr/local/lib/python3.10/dist-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")